.container {
    width: calc(1200px + 2 * var(--container-padding));
    border-left: var(--container-padding) solid transparent;
    border-right: var(--container-padding) solid transparent;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1700px) {

    .container {
        width: calc(1600px + 2 * var(--container-padding));
    }
}

@media (width < 740px) {

    .container {
        width: auto;
    }
}
