.footer {
    display: flex;
    align-items: flex-start;
    gap: 27px;
    padding-top: 24px;
    padding-bottom: 38px;
}
    .footer__item {
        font-size: 16px;
        line-height: 20px;
        color: #A1A1A3;
    }

    .footer__developer {
        margin-left: auto;
    }
