.net {
    display: block;
    width: fit-content;
}

    .net__icon {
        vertical-align: top;
        fill: #0086BF;
        transition: fill var(--transition-hover);
    }


.net:hover {

}
    .net:hover .net__icon {
        fill: #349ECE;
    }
