.swiper {

}
    .swiper-wrapper {
        align-items: stretch;
    }
        .swiper-slide {
            height: auto;
        }




    /* Точки */

    .swiper-pagination-bullets {
        padding-top: 15px;
        position: static;
        display: flex;
        align-items: stretch;
        justify-content: center;
    }
        .swiper-pagination-bullet {
            flex-shrink: 0;
            margin: 0 !important;
            background-color: transparent;
            border-radius: 0;
            padding: 15px;
            width: auto;
            height: auto;
            opacity: 100%;
            transition: background-color var(--transition-hover);
        }
            .swiper-pagination-bullet::after {
                content: "";
                flex-shrink: 0;
                display: block;
                width: 11px;
                height: 11px;
                background-color: var(--light-orange);
                border-radius: 50%;
            }

            .swiper-pagination-bullet:hover::after {
                background-color: var(--orange-90pct);
            }

        .swiper-pagination-bullet-active {
            cursor: default !important;
        }
            .swiper-pagination-bullet-active::after,
            .swiper-pagination-bullet-active:hover::after {
                background-color: var(--orange);
            }

    @media (width < 740px) {

        .swiper-pagination-bullet {
            padding: 10px;
        }
    }



    /* Стрелочки.
       Нужно вытаскивать их из слайдера на уровень выше, чтобы они не обрезались
       overflow-ом от слайдера. Важно, чтобы они попадали в контекст position: relative.
     */

    .swiper-button {
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: auto;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: background-color var(--transition-hover);
    }

    /*.swiper-button:not(.swiper-button-disabled):hover {*/
    /*    background-color: rgb(255 255 255 / 40%);*/
    /*}*/

    .swiper-button.swiper-button-disabled {
        opacity: 50%;
        cursor: default;
    }

    .swiper-button-prev {
        left: auto;
        right: 100%;
    }

    .swiper-button-next {
        right: auto;
        left: 100%;
    }
        /* наведение: */
        .swiper-button::before {
            content: "";
            display: block;
            position: absolute;
            left: 10px;
            right: 10px;
            top: 0;
            bottom: 0;
            border-radius: 8px;
            transition: background-color var(--transition-hover);
        }

        .swiper-button:hover::before {
            background-color: rgb(255 255 255 / 50%);
        }

        .slider__arrow {
            position: relative;
            vertical-align: top;
            width: 24px !important;
            height: 24px !important;
        }

        .swiper-button::after {
            display: none;
        }


    @media (width < 1420px) {

        .swiper-button {
            width: calc((100vw - 1146px - 20px) / 2);
            min-width: 57px;
        }
    }

    /* На мобилках стрелки не встречаются: */

    @media (width < 740px) {

        .swiper-button {
            display: none !important;
        }
    }








.swiper--blog {

}

@media (width < 740px) {

    .swiper--blog {
        overflow: visible;
    }
}



.swiper--results {

}
    @media (740px <= width) {

        .swiper--results {
            overflow: visible;
        }
            .swiper--results .swiper-slide {
                width: 680px;
            }
    }




.swiper--feedback {

}

@media (740px <= width) {

    /* Слайды */

    .swiper--feedback .swiper-slide {
        width: 330px;
    }

    .swiper--feedback .swiper-slide--wide {
        width: 446px;
    }


    /* Пагинация */

    .swiper--feedback .swiper-pagination {
        display: none;
    }
}









